if [ -e "$HOME/.nix-profile/etc/profile.d/nix.sh" ]; then
  . "$HOME/.nix-profile/etc/profile.d/nix.sh"
fi

use flake
PATH_add ./build

export DISCOBOX_COMPLETION_DIR="$PWD/build/completions"
export DISCOBOX_BASH_COMPLETION="$DISCOBOX_COMPLETION_DIR/discobox.bash"
export DISCOBOX_ZSH_COMPLETION="$DISCOBOX_COMPLETION_DIR/_discobox"
export DISCOBOX_FISH_COMPLETION="$DISCOBOX_COMPLETION_DIR/discobox.fish"
export DISCOBOX_BASH_COMPLETION_USER_DIR="${XDG_DATA_HOME:-$HOME/.local/share}/bash-completion/completions"

if [ -x "$PWD/build/discobox" ]; then
  mkdir -p "$DISCOBOX_COMPLETION_DIR"
  "$PWD/build/discobox" completion bash > "$DISCOBOX_BASH_COMPLETION"
  "$PWD/build/discobox" completion zsh > "$DISCOBOX_ZSH_COMPLETION"
  "$PWD/build/discobox" completion fish > "$DISCOBOX_FISH_COMPLETION"

  mkdir -p "$DISCOBOX_BASH_COMPLETION_USER_DIR"
  cp "$DISCOBOX_BASH_COMPLETION" "$DISCOBOX_BASH_COMPLETION_USER_DIR/discobox"
fi
