[Unit]
Description=WebSocket to VNC proxy with desktop resize support
Requires=xvfb.service
After=xvfb.service

[Service]
Type=simple
User=%i
NoNewPrivileges=true
ProtectSystem=full
RestrictSUIDSGID=true
LockPersonality=true
SystemCallArchitectures=native
CapabilityBoundingSet=
ExecStart=/usr/local/bin/discobox-vnc-websockify
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
