[Unit]
Description=WebSocket proxy (systemd-socket-proxyd to websockify)
Requires=websockify-proxy.socket

[Service]
Type=notify
ExecStart=/usr/lib/systemd/systemd-socket-proxyd 127.0.0.1:6081
