[Desktop Entry]
Version=1.0
Type=Application
Name=Web Browser
Comment=Browse the web from inside this sandbox
Exec=chromium %U
Icon=chromium
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=true
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
